body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010100;
}

a {
    color: #969696;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.oskyrus {
    display: flex;
    justify-content: left;
    background-color: #0c0c0c;
    height: 80px;
}

.projekty {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.j {
    /* tutaj coś dodam ale nwm kiedy*/
}

.jhref {
    justify-content: left;
}

.j img {
    height: 300px;
    width: 500px;
    display: flex;
    text-align: left; 
    margin: 1 flex; 
}

.opis {
    color: #969696;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: left;

    padding-left: 20px;

}

